@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/Open-Sans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url("../fonts/Open-Sans-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/Open-Sans-Semibold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/Open-Sans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Extrabold';
  src: url("../fonts/Open-Sans-Extrabold.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.button {
  height: 55px;
  width: 228px;
  border: none;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #ff2d2d;
  color: #fff;
}

.button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 10px #ff2d2d;
          box-shadow: 0 0 10px #ff2d2d;
}

.button-o {
  border-radius: 5px;
  border: 3px solid #ff2d2d;
  background: transparent;
  color: #000;
}

.input {
  border: none;
  border-radius: 5px;
  height: 55px;
  width: 500px;
  padding: 0 30px;
  background-color: #e5e5e5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.input, .input:hover, .input:focus {
  outline: none;
}

.input:focus, .input:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #e5e5e5;
          box-shadow: 0 0 10px #e5e5e5;
}

h3 {
  font-size: 42px;
  font-family: 'Open Sans Bold';
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

.sub-text {
  font-size: 16px;
  font-family: 'Open Sans Regular';
  color: rgba(0, 0, 0, 0.7);
  line-height: 28px;
}

.line {
  display: inline-block;
  background-color: #ff2d2d;
  height: 3px;
  width: 10%;
}

.header {
  background-color: #f6f2f2;
  padding-top: 20px;
}

.header .header-navbar {
  background-color: #313030;
  height: 90px;
}

.header .header-navbar a {
  height: 100%;
  padding: 24px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header .header-navbar a:hover {
  background-color: #ff2d2d;
}

.header #header-navbar__a_active {
  background-color: #ff2d2d;
}

.main {
  background-color: #f6f2f2;
  padding: 100px 0;
}

.main h1 {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 60px;
}

.main p {
  width: 90%;
  opacity: 0.7;
  color: #000000;
  line-height: 28px;
  margin-top: 36px;
  margin-bottom: 60px;
}

.main .button {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 18px;
  line-height: 34.06px;
}

.main .main-video {
  width: 551px;
  height: 356px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -3px -8px 30px rgba(0, 0, 0, 0.2);
          box-shadow: -3px -8px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.features .container {
  padding: 100px 0;
  border-bottom: 2px solid #ececec;
}

.features .h2 {
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 42px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

.features .text {
  color: black;
  line-height: 1.75;
  margin: 50px 0;
}

.features .descr {
  opacity: .7;
  margin-bottom: 50px;
}

.features img {
  display: inline-block;
  margin-bottom: 30px;
}

.my-productions .container {
  padding: 100px 0 140px 0;
}

.my-productions .container .sub-text {
  width: 50%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 27px;
}

.my-productions .container .line {
  width: 13%;
  margin-bottom: 60px;
}

.my-productions .container .tab-content {
  margin-top: 40px;
}

.my-productions .container .project {
  height: 200px;
  width: 200px;
  background-color: #f5f0dd;
  margin-bottom: 20px;
}

.my-productions .container .nav-tabs {
  border: none;
}

.my-productions .container .nav-tabs .nav-link {
  text-transform: uppercase;
  opacity: 0.7;
  color: #000000;
  font-family: 'Open Sans Semibold';
  font-size: 22px;
  letter-spacing: 0.22px;
  border: none;
}

.my-productions .container .nav-tabs .nav-item.show .nav-link, .my-productions .container .nav-tabs .nav-link.active {
  color: #ff2d2d;
  background-color: transparent;
  text-transform: uppercase;
  opacity: 1;
}

.my-productions .container .nav-tabs .nav-link:focus, .my-productions .container .nav-tabs .nav-link:hover {
  border-color: transparent transparent transparent;
}

.my-productions .container #all .project {
  background-color: #5B1A1A;
}

.my-productions .container #print-template .project {
  background-color: #8522B8;
}

.my-productions .container #web-template .project {
  background-color: #85B8B8;
}

.my-productions .container #user-interface .project {
  background-color: #41A041;
}

.my-productions .container #mock-up .project {
  background-color: #A04141;
}

.our-team {
  margin-bottom: 100px;
}

.our-team .sub-text {
  width: 50%;
}

.our-team .line {
  margin-bottom: 60px;
}

.our-team .avatar {
  display: block;
  width: 321px;
  height: 458px;
  background-color: #f5f0dd;
  background: url(../img/people/big-avatar.jpg) center no-repeat;
  background-size: cover;
}

.our-team .text-decr-man .name {
  text-transform: uppercase;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Open Sans Semibold';
}

.our-team .text-decr-man .sub-text {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.our-team .social ul {
  margin: 0;
  padding: 0;
}

.our-team .social ul li {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
  font-style: italic;
  font-size: 18px;
}

.our-team .social ul li a {
  color: rgba(0, 0, 0, 0.8);
}

.our-team .ofther-people .avatar-mini {
  height: 200px;
  background-color: #f5f0dd;
  cursor: pointer;
  background: url(../img/people/min-avatar.jpg) center no-repeat;
  background-size: cover;
}

.our-team .ofther-people__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.search-projects {
  background-color: #2C2C2C;
  padding: 100px 0 140px 0;
}

.search-projects .title {
  font-size: 42px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans Bold';
  text-align: center;
}

.search-projects .sub-text {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  margin: 20px 0 40px 0;
}

.search-projects .input {
  margin-right: 15px;
}

.search-projects .button {
  text-transform: uppercase;
  font-family: 'Open Sans Bold';
}

.message {
  padding: 100px 0;
}

.message .line {
  display: inline-block;
  margin-bottom: 50px;
}

.message .input {
  width: 300px;
  margin-bottom: 40px;
}

.message .input-o {
  margin-left: -5px;
  float: right;
}

.message .input:hover, .message .input:focus {
  background-color: #e5e5e5;
}

.message .textarea {
  border: none;
  border-radius: 5px;
  height: 255px;
  width: 100%;
  padding: 25px 30px;
  margin-bottom: 40px;
  background-color: #e5e5e5;
}

.message .textarea:hover, .message .textarea:focus {
  background-color: #e5e5e5;
  outline: none;
}

.message .button {
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}

.message .button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.message .connect {
  display: inline-block;
  max-width: 100%;
  height: 100%;
  background-color: #2d2d2d;
  padding: 0 60px;
}

.message .connect__text {
  display: inline-block;
  margin: 45% 0;
  color: #b8b8b8;
}

.message .connect .title {
  font-size: 18px;
  text-transform: uppercase;
}

.message .connect .title, .message .connect .address, .message .connect .email, .message .connect .tel {
  display: inline-block;
  margin: 5px 0;
}

.message .connect a {
  color: #b8b8b8;
}

.footer {
  background-color: #313030;
  padding: 20px;
  color: #b8b8b8;
}

.footer img {
  margin: 0 5px;
  cursor: pointer;
}
