@import 'fonts'

$ColorRed: #ff2d2d

body
   font-family: "Open Sans"
   font-weight: 400
   font-size: 16px
   color: #000
   // padding-bottom: 300px

.button
   height: 55px
   width: 228px
   border: none
   border-radius: 5px
   transition: all .3s
   background-color: $ColorRed

   &:hover
      transform: scale(1.2)
      box-shadow: 0 0 10px $ColorRed

.button-o
   border-radius: 5px
   border: 3px solid $ColorRed
   background: transparent

h3
   font-size: 42px
   font-family: 'Open Sans Bold'
   color: rgba(0, 0, 0, 0.8)
   text-transform: uppercase

.sub-text
   font-size: 16px
   font-family: 'Open Sans Regular'
   color: rgba(0, 0, 0, 0.7)
   line-height: 28px

.line
   display: inline-block
   background-color: $ColorRed
   height: 3px

// Шапка
.header
   background-color: #f6f2f2
   padding-top: 20px

   .header-navbar
      background-color: #313030
      height: 90px

      a
         height: 100%
         padding: 24px
         text-decoration: none
         color: #ffffff
         font-family: "Open Sans"
         font-weight: bold
         text-transform: uppercase
         transition: all .5s

         &:hover
            background-color: $ColorRed
   
   #header-navbar__a_active
      background-color: $ColorRed

// Главный экран
.main
   background-color: #f6f2f2
   padding: 100px 0

   h1
      text-transform: uppercase
      font-family: "Open Sans"
      font-weight: 800
      font-size: 60px
   
   p
      width: 90%
      opacity: 0.7
      color: #000000
      line-height: 28px
      margin-top: 36px
      margin-bottom: 60px

   .button
      color: #ffffff
      font-family: "Open Sans"
      font-weight: bold
      font-size: 18px
      line-height: 34.06px

   .main-video
      width: 551px
      height: 356px
      background-color: rgba(0, 0, 0, .2)
      box-shadow: -3px -8px 30px rgba(0, 0, 0, .2)
      cursor: pointer

// Особенности
.features
   
   .container
      padding: 100px 0
      border-bottom: 2px solid #ececec

   .h2
      display: inline-block
      font-family: 'Open Sans'
      font-weight: bold
      font-size: 42px
      text-transform: uppercase
      color: rgba(0, 0, 0, .7)
   
   .text
      color: rgb(0, 0, 0)
      line-height: 1.75
      margin: 50px 0
   
   .descr
      opacity: .7
      margin-bottom: 50px

   img
      display: inline-block
      margin-bottom: 30px

.my-productions
   .container
      padding: 100px 0 140px 0
      
      .sub-text
         width: 50%
         text-align: center
         margin-top: 15px
         margin-bottom: 27px
      
      .line
         width: 13%
         margin-bottom: 60px
      
      .tab-content
         margin-top: 40px

      .project
         height: 200px
         width: 200px
         background-color: #f5f0dd
         margin-bottom: 20px
         // margin: 5px

      .nav-tabs
         border: none

         .nav-link
            text-transform: uppercase
            opacity: 0.7
            color: #000000
            font-family: 'Open Sans Semibold'
            font-size: 22px
            letter-spacing: 0.22px
            border: none

      .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
         color: $ColorRed
         background-color: transparent
         text-transform: uppercase
         opacity: 1
      
      .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover
         border-color: transparent transparent transparent

   #all
      .project
         background-color: black

.our-team
   margin-bottom: 100px

   .sub-text
      width: 50%
   
   .line
      width: 10%
      margin-bottom: 60px
   
   .avatar
      width: 321px
      height: 458px
      background-color: #f5f0dd
   
   .text-decr-man
      .name
         text-transform: uppercase
         font-size: 30px
         color: rgba(0, 0, 0, 0.8)
         font-family: 'Open Sans Semibold'

      .sub-text
         width: 90%
         margin-top: 20px
         margin-bottom: 50px

   .social
      ul
         margin: 0
         padding: 0

         li
            display: inline-block
            list-style: none
            margin-right: 30px
            font-style: italic
            font-size: 18px

            a
               color: rgba(0, 0, 0, .8)
   
   .ofther-people
      .avatar-mini
         height: 200px
         background-color: #f5f0dd
         cursor: pointer

      &__name
         display: flex
         justify-content: center
         text-transform: uppercase
         font-size: 18px
         color: #fff
         width: 100%
         text-align: center
         padding: 5px 0
         background-color: rgba(0, 0, 0, .5)
         display: none

// Поиск работ
.search-projects
   // background-color: #f5f0dd
   background-color: #2C2C2C
   padding: 140px 0

   .title
      font-size: 42px
      color: rgba(255, 255, 255, 0.8)
      font-family: 'Open Sans Bold'
      text-align: center
   
   .sub-text
      color: rgba(255, 255, 255, 0.8)
